html {
  width: 400px;
  max-height: 500px;
  margin: 0 13px;
  scrollbar-gutter: stable;
}
html #purge #purge-button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
html #purge #purge-button #purge-button-title {
  margin: 13px 0 0 0;
}
html #purge #purge-button #purge-button-icon #open-button,
html #purge #purge-button #purge-button-icon #close-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 7px;
  color: rgb(15, 20, 25);
  border-radius: 50%;
}
html #purge #purge-button #purge-button-icon #close-button {
  display: none;
}
html #purge #zombies {
  display: none;
  margin-bottom: 13px;
}
html #purge #zombies #no-zombies {
  font-size: large;
  margin: 0;
}
html #purge #zombies .zombie {
  border-top: solid 1px rgb(200, 200, 200);
  border-bottom: solid 1px rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  min-height: 42px;
}
html #purge #zombies .zombie .tweet-content {
  flex-grow: 1;
  padding: 6px;
}
html #purge #zombies .zombie .tweet-content .zombie-profile {
  display: flex;
  justify-self: flex-start;
  gap: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
}
html #purge #zombies .zombie .tweet-content .tweet-text {
  border-top: dashed 1px rgb(200, 200, 200);
  padding: 6px 0 2px 8px;
  overflow-wrap: anywhere;
}
html #purge #zombies .zombie .options {
  margin-top: 5px;
  display: flex;
}
html #purge #zombies .zombie .options > * {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
html #purge #zombies .zombie .options .tweet-url-wrapper .tweet-url-button {
  transform: translate(1px, -1px);
}
html #purge #zombies .zombie .options .remove-user {
  transition: background-color 0.3s;
  opacity: 0.85;
}
html #purge #zombies .zombie .options .remove-user:hover {
  background-color: #ccffcc;
  transition: background-color 0.3s;
  opacity: 0.85;
}

.buttons {
  transition: background-color 0.3s;
}
.buttons:hover {
  background-color: #e7e7e7;
  transition: background-color 0.3s;
}