html {
  width: 400px;
  max-height: 500px;
  margin: 0 13px;
}
html #purge #purge-button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
html #purge #purge-button #purge-button-title {
  margin: 13px 0 0 0;
}
html #purge #purge-button #purge-button-icon #open-button,
html #purge #purge-button #purge-button-icon #close-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 7px;
  color: rgb(15, 20, 25);
  border-radius: 25px;
}
html #purge #purge-button #purge-button-icon #close-button {
  display: none;
}
html #purge #zombies {
  display: none;
  margin-bottom: 13px;
}
html #purge #zombies #no-zombies {
  font-size: large;
  margin: 0;
}
html #purge #zombies .zombie {
  border-top: solid 1px rgb(200, 200, 200);
  border-bottom: solid 1px rgb(200, 200, 200);
}
html #purge #zombies .zombie:hover {
  background-color: #f7f7f7;
  transition: background-color 0.3s;
}
html #purge #zombies .zombie .tweet-url {
  color: inherit;
  text-decoration: none;
}
html #purge #zombies .zombie .tweet-url .tweet-content {
  padding: 6px;
}
html #purge #zombies .zombie .tweet-url .tweet-content p {
  margin: 0;
}
html #purge #zombies .zombie .tweet-url .tweet-content .zombie-profile {
  display: flex;
  justify-self: flex-start;
  gap: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
}
html #purge #zombies .zombie .tweet-url .tweet-content .tweet-text {
  border-top: dashed 1px rgb(200, 200, 200);
  padding: 6px 2px 2px 8px;
  overflow-wrap: break-word;
}