html {
  width: 400px;
  max-height: 500px;
  margin: 0 13px;
  scrollbar-gutter: stable;

  #all-purge-button,
  #all-purge-stop-button {
    width: 150px;
    height: 60px;
    margin-top: 13px;
    margin-bottom: 10px;
    border-radius: 13px;
    display: flex;
    box-shadow: 0px 0px 5px 5px #e7e7e7;
    cursor: pointer;

    > * {
      margin: auto 10px;
    }

    #all-purge-button-icon,
    #all-purge-stop-button-icon {
      svg {
        width: 30px;
        height: 30px;
        transform: translate(3px, 1px);
      }
    }

    #all-purge-button-content,
    #all-purge-stop-button-content {
      margin-left: 0;
      height: 100%;
      border-radius: 25px;
      font-size: large;
    }
  }

  #all-purge-stop-button {
    display: none;
  }

  #purge {
    #purge-button {
      height: 50px;
      display: flex;
      justify-content: flex-start;

      #purge-button-title {
        margin: 13px 0 0 0;
      }

      #purge-button-icon {
        #purge-open-button,
        #purge-close-button {
          width: 24px;
          height: 24px;
          padding: 6px;
          margin: 7px;
          color: rgb(15, 20, 25);
          border-radius: 50%;
        }

        #purge-close-button {
          display: none;
        }
      }
    }

    #zombies {
      display: none;
      margin-bottom: 13px;

      #no-zombies {
        font-size: large;
        margin: 0;
      }

      .zombie {
        border-top: solid 1px rgb(200, 200, 200);
        border-bottom: solid 1px rgb(200, 200, 200);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 42px;

        .tweet-content {
          flex-grow: 1;
          padding: 6px;

          .zombie-profile {
            display: flex;
            justify-self: flex-start;
            gap: 10px;
            padding-left: 3px;
            padding-bottom: 3px;
          }

          .tweet-text {
            border-top: dashed 1px rgb(200, 200, 200);
            padding: 6px 0 2px 8px;
            overflow-wrap: anywhere;
          }
        }

        .options {
          margin-top: 5px;
          display: flex;
          transform: translateY(-2px);

          > * {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
          }

          .tweet-url-wrapper {
            .tweet-url-button {
              transform: translate(1px, -1px);
            }
          }

          .remove-user {
            transition: background-color 0.3s;
            opacity: 0.85;

            &:hover {
              background-color: #ccffcc;
              transition: background-color 0.3s;
              opacity: 0.85;
            }
          }

          .purge-zombie {
            svg {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  #others {
    #others-button {
      height: 50px;
      display: flex;
      justify-content: flex-start;

      #others-button-title {
        margin: 13px 0 0 0;
      }

      #others-button-icon {
        #others-open-button,
        #others-close-button {
          width: 24px;
          height: 24px;
          padding: 6px;
          margin: 7px;
          color: rgb(15, 20, 25);
          border-radius: 50%;
        }

        #others-close-button {
          display: none;
        }
      }
    }

    #others-content {
      display: none;

      .others-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;

        label {
          font-size: 14px;
          margin: 5px 0 0 10px;
          // widthを使うと隣のinputがめり込むのでmin-widthを使用。
          min-width: 8rem;

          &:hover {
            cursor: text;
          }
        }

        select {
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }

        a {
          font-size: 15px;
        }

        p {
          font-size: 15px;
          margin: 0;
        }
      }
    }

    #import-complete, #import-failed {
      font-size: 18px;
      margin: 0;
    }
  }

  .buttons {
    transition: background-color 0.3s;

    &:hover {
      background-color: #e7e7e7;
      transition: background-color 0.3s;
    }
  }

  .red-buttons {
    transition: background-color 0.3s;

    &:hover {
      background-color: #fcdcde;
      transition: background-color 0.3s;
    }
  }
}
