html {
  width: 400px;
  max-height: 500px;
  margin: 0 13px;
  scrollbar-gutter: stable;
}
html #all-purge-button,
html #all-purge-stop-button {
  width: 150px;
  height: 60px;
  margin-top: 13px;
  margin-bottom: 10px;
  border-radius: 13px;
  display: flex;
  box-shadow: 0px 0px 5px 5px #e7e7e7;
  cursor: pointer;
}
html #all-purge-button > *,
html #all-purge-stop-button > * {
  margin: auto 10px;
}
html #all-purge-button #all-purge-button-icon svg,
html #all-purge-button #all-purge-stop-button-icon svg,
html #all-purge-stop-button #all-purge-button-icon svg,
html #all-purge-stop-button #all-purge-stop-button-icon svg {
  width: 30px;
  height: 30px;
  transform: translate(3px, 1px);
}
html #all-purge-button #all-purge-button-content,
html #all-purge-button #all-purge-stop-button-content,
html #all-purge-stop-button #all-purge-button-content,
html #all-purge-stop-button #all-purge-stop-button-content {
  margin-left: 0;
  height: 100%;
  border-radius: 25px;
  font-size: large;
}
html #all-purge-stop-button {
  display: none;
}
html #purge #purge-button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
html #purge #purge-button #purge-button-title {
  margin: 13px 0 0 0;
}
html #purge #purge-button #purge-button-icon #purge-open-button,
html #purge #purge-button #purge-button-icon #purge-close-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 7px;
  color: rgb(15, 20, 25);
  border-radius: 50%;
}
html #purge #purge-button #purge-button-icon #purge-close-button {
  display: none;
}
html #purge #zombies {
  display: none;
  margin-bottom: 13px;
}
html #purge #zombies #no-zombies {
  font-size: large;
  margin: 0;
}
html #purge #zombies .zombie {
  border-top: solid 1px rgb(200, 200, 200);
  border-bottom: solid 1px rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
}
html #purge #zombies .zombie .tweet-content {
  flex-grow: 1;
  padding: 6px;
}
html #purge #zombies .zombie .tweet-content .zombie-profile {
  display: flex;
  justify-self: flex-start;
  gap: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
}
html #purge #zombies .zombie .tweet-content .tweet-text {
  border-top: dashed 1px rgb(200, 200, 200);
  padding: 6px 0 2px 8px;
  overflow-wrap: anywhere;
}
html #purge #zombies .zombie .options {
  margin-top: 5px;
  display: flex;
  transform: translateY(-2px);
}
html #purge #zombies .zombie .options > * {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
html #purge #zombies .zombie .options .tweet-url-wrapper .tweet-url-button {
  transform: translate(1px, -1px);
}
html #purge #zombies .zombie .options .remove-user {
  transition: background-color 0.3s;
  opacity: 0.85;
}
html #purge #zombies .zombie .options .remove-user:hover {
  background-color: #ccffcc;
  transition: background-color 0.3s;
  opacity: 0.85;
}
html #purge #zombies .zombie .options .purge-zombie svg {
  opacity: 0.5;
}
html #others #others-button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
html #others #others-button #others-button-title {
  margin: 13px 0 0 0;
}
html #others #others-button #others-button-icon #others-open-button,
html #others #others-button #others-button-icon #others-close-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 7px;
  color: rgb(15, 20, 25);
  border-radius: 50%;
}
html #others #others-button #others-button-icon #others-close-button {
  display: none;
}
html #others #others-content {
  display: none;
}
html #others #others-content .others-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
html #others #others-content .others-item label {
  font-size: 14px;
  margin: 5px 0 0 10px;
  min-width: 8rem;
}
html #others #others-content .others-item label:hover {
  cursor: text;
}
html #others #others-content .others-item select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
html #others #others-content .others-item a {
  font-size: 15px;
}
html #others #others-content .others-item p {
  font-size: 15px;
  margin: 0;
}
html .buttons {
  transition: background-color 0.3s;
}
html .buttons:hover {
  background-color: #e7e7e7;
  transition: background-color 0.3s;
}
html .red-buttons {
  transition: background-color 0.3s;
}
html .red-buttons:hover {
  background-color: #fcdcde;
  transition: background-color 0.3s;
}