html {
  width: 400px;
  max-height: 500px;
  margin: 0 13px;

  #purge {
    #purge-button {
      height: 50px;
      display: flex;
      justify-content: flex-start;

      #purge-button-title {
        margin: 13px 0 0 0;
      }

      #purge-button-icon {
        #open-button,
        #close-button {
          width: 24px;
          height: 24px;
          padding: 6px;
          margin: 7px;
          color: rgb(15, 20, 25);
          border-radius: 50%;
        }

        #close-button {
          display: none;
        }
      }
    }

    #zombies {
      display: none;
      margin-bottom: 13px;

      #no-zombies {
        font-size: large;
        margin: 0;
      }

      .zombie {
        border-top: solid 1px rgb(200, 200, 200);
        border-bottom: solid 1px rgb(200, 200, 200);
        display: flex;
        justify-content: space-between;

        .tweet-content {
          flex-grow: 1;
          padding: 6px;

          p {
            margin: 0;
          }

          .zombie-profile {
            display: flex;
            justify-self: flex-start;
            gap: 10px;
            padding-left: 3px;
            padding-bottom: 3px;
          }

          .tweet-text {
            border-top: dashed 1px rgb(200, 200, 200);
            padding: 6px 0 2px 8px;
            overflow-wrap: break-word;
          }
        }

        .options {
          display: flex;
          flex-direction: column;
          margin-top: auto;
          margin-bottom: auto;

          .tweet-url-wrapper {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;

            .tweet-url-button {
              transform: translate(1px, -1px);
            }
          }
        }
      }
    }
  }
}

.buttons {
  transition: background-color 0.3s;

  &:hover {
    background-color: #e7e7e7;
    transition: background-color 0.3s;
  }
}
